body{
    background: linear-gradient(rgb(75, 104, 143), rgb(29, 73, 29));
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container{
    background: red;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

button {
    cursor: pointer;
    font-size: 17px;
    border-radius: 8px;
}